.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.mesa {
  background-color: #f0f8ff;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}
