<!-- Selección de grupo -->
<header>EvalúApp Escolar</header>
<div class="container">
  <button routerLink="/" class="btn btn-outline-primary">🏠 Volver al inicio</button>
  <div *ngIf="!nombreSeleccionado">
  <h3>Selecciona tu grupo:</h3>
  <select [(ngModel)]="grupoSeleccionado" (change)="cargarEstudiantes()">
  <option value="">-- Selecciona un grupo --</option>
  <option value="4-1">4-1</option>
  <option value="4-2">4-2</option>
  <option value="4-3">4-3</option>
  <option value="4-4">4-4</option>
</select>


  <!-- Selección de estudiante -->
  <div *ngIf="estudiantes.length > 0">
    <h3>Selecciona tu nombre:</h3>
    <ul class="lista-estudiantes">
    <li *ngFor="let nombre of estudiantes">
    <button (click)="seleccionarEstudiante(nombre)">
      {{ nombre }}
    </button>
  </li>
</ul>

  </div>
</div>

<!-- Pregunta y opciones -->
<div *ngIf="nombreSeleccionado && pregunta">
  <h3>{{ pregunta.enunciado }}</h3>
  <div *ngFor="let opcion of pregunta.opciones">
    <label>
      <input type="radio" name="respuesta" [value]="opcion" [(ngModel)]="respuestaSeleccionada">
      {{ opcion }}
    </label>
  </div>

  <button (click)="enviarRespuesta()">Enviar respuesta</button>
  <p *ngIf="resultado">{{ resultado }}</p>
  <div *ngIf="resultado">
  <p class="resultado">{{ resultado }}</p>
  <button (click)="reiniciarEvaluacion()" class="btn btn-primary">🔁 Volver al listado</button>
</div>

</div>

<!-- Estado de carga -->
<p *ngIf="cargando">Cargando pregunta...</p>
</div>