<header>Plataforma Escolar</header>

<div class="container">
  <h2>Bienvenido Mateo 👩‍🏫</h2>
  <p>Selecciona el módulo que deseas usar:</p>

  <div class="botones-inicio">
    <button routerLink="/asistencia">📋 Asistencia</button>
    <button routerLink="/diario-aula">📝 Diario de Aula</button>
    <button routerLink="/evaluacion-estudiante">🧠 EvalúApp</button>
    <button routerLink="/mesas" class="btn btn-success">🪑 ❤️ Mesas y Vidas</button>
    <button routerLink="/dashboard-asistencia" class="btn btn-success">📈DashBoard Asistencia</button>
    <button routerLink="dashboard-evaluapp" class="btn btn-success">🏅 Ranking Inteligente </button>
    <button routerLink="diario-aula-pdf" class="btn btn-success">📝 PDF Diario de Aula </button>
  </div>
</div>




