<header>Plataforma Escolar</header>

<div class="container">
  <h2>Bienvenido Mateo 👩‍🏫</h2>
  <p>Selecciona el módulo que deseas usar:</p>

  <div class="botones-inicio">
    <button routerLink="/asistencia">📋 Asistencia</button>
    <button routerLink="/diario-aula">📝 Diario de Aula</button>
    <button routerLink="/evaluacion-estudiante">🧠 EvalúApp</button>
    <button onclick="window.open('https://dashevaluapp-832iikws9gokctizgt5quc.streamlit.app/')">📈 Dashboard EvalúApp</button>
    <button onclick="window.open('https://mesas-vidas-axsp7pdcw7wtpwgdme5kmr.streamlit.app/')">❤️Mesas Y Vidas</button>
    <button onclick="window.open('https://aulapdf-yoaj7su8xypbpblkx2qpbn.streamlit.app/')">📝 PDF Diario de Aula</button>
    <button onclick="window.open('https://dash-asistencia-ga9paova2ofnsdszpkrqkz.streamlit.app/')">📈 Dashboard Asistencia</button>
    <button routerLink="/mesas" class="btn btn-success">🪑 Mesas y Vidas</button>

  </div>
</div>




