h2, h3 {
  text-align: center;
  margin-top: 1rem;
  color: #2c3e50;
}

form {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
}

label {
  display: inline-block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="date"],
textarea,
select {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  resize: vertical;
  height: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #2980b9;
  color: white;
  padding: 10px;
}

td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

td:first-child {
  text-align: left;
  font-weight: 500;
}

input[type="text"] {
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  transform: scale(1.2);
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #27ae60;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"]:hover {
  background-color: #219150;
}
