<header>DiarioAula</header>
<div class="container">
<button routerLink="/" class="btn btn-outline-primary">🏠 Volver al inicio</button>
<label for="grupo">Grupo:</label>
<select [(ngModel)]="grupo" (change)="cargarEstudiantes()">
  <option value="4-1">4-1</option>
  <option value="4-2">4-2</option>
  <option value="4-3">4-3</option>
  <option value="4-4">4-4</option>
</select>
<h2>Registro Diario de Aula - {{ grupo }}</h2>

<form (ngSubmit)="guardar()" #formulario="ngForm">
  <label for="fecha">Fecha:</label>
  <input type="date" [(ngModel)]="fecha" name="fecha" required>

  <label for="observacionGeneral">Observación general:</label>
  <textarea [(ngModel)]="observacionGeneral" name="observacionGeneral"></textarea>

  <hr />

  <h3>Observaciones individuales</h3>
    <table border="1">
    <thead>
      <tr>
        <th>Estudiante</th>
        <th>Observación</th>
        <th>Enviar a padre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of estudiantes; let i = index">
        <td>{{ estudiante.name }}</td>
        <td>
          <input type="text" [(ngModel)]="estudiante.observacion" name="obs{{ i }}">
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="estudiante.enviar_a_padre" name="padre{{ i }}">
        </td>
      </tr>
    </tbody>
  </table>

  <br />
  <button type="submit">Guardar</button>
</form>
</div>