<div *ngIf="asistencias && asistencias.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Emoción</th>
        <th>Estado</th>
        <th>Grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asistencia of asistencias">
        <td>{{ asistencia.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ asistencia.name }}</td>
        <td>{{ asistencia.emoji }}</td>
        <td>{{ asistencia.estado }}</td>
        <td>{{ asistencia.grupo }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p>No hay datos disponibles.</p>
</ng-template>
